@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
    background-color: #151518;


}



iframe {

    /* iframes are inline by default */
    background: #000;
    border: none;

}

a {
    color: cyan;
}

#menu {
    background: #343434;
    color: #eee;
    height: 35px;
    border-bottom: 4px solid #eeeded
}

#menu ul,
#menu li {
    margin: 0 0;
    padding: 0 0;
    list-style: none
}

#menu ul {
    height: 35px
}

#menu li {
    float: left;
    display: inline;
    position: relative;
    font: bold 12px Arial;
    text-shadow: 0 -1px 0 #000;
    text-transform: uppercase
}

#menu li:first-child {
    border-left: none
}

#menu a {
    display: block;
    line-height: 35px;
    padding: 0 14px;
    text-decoration: none;
    color: #eee;
}

#menu li:hover > a,
#menu li a:hover {
    background: #111
}

#menu input {
    display: none;
    margin: 0 0;
    padding: 0 0;
    width: 80px;
    height: 35px;
    opacity: 0;
    cursor: pointer
}

#menu label {
    font: bold 30px Arial;
    display: none;
    width: 35px;
    height: 36px;
    line-height: 36px;
    text-align: center
}

#menu label span {
    font-size: 12px;
    position: absolute;
    left: 35px
}

#menu ul.menus {
    height: auto;
    width: 180px;
    background: #111;
    position: absolute;
    z-index: 99;
    display: none;
    border: 0;
}

#menu ul.menus li {
    display: block;
    width: 100%;
    font: 12px Arial;
    text-transform: none;
}

#menu li:hover ul.menus {
    display: block
}

#menu a.home {
    background: #c00;
}

#menu a.prett {
    padding: 0 100px 0 14px
}

#menu a.prett::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 6px 5px;
    border-color: #eee transparent transparent transparent;
    position: absolute;
    top: 15px;
    right: 9px
}

#menu ul.menus a:hover {
    background: #333;
}

#menu ul.menus .submenu {
    display: none;
    position: absolute;
    left: 180px;
    background: #111;
    top: 0;
    width: 180px;
}

#menu ul.menus .submenu li {
    background: #111;
}

#menu ul.menus .has-submenu:hover .submenu {
    display: block;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

p {
    font-family: 'IM Fell English SC', serif;
    font-size: 15px;
    margin: 0px 0 0 0;

}

.unit_description {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    position: relative;
    font-size: 13px;
    margin-top: -150px;
    padding: 9px;

}

.unit_description_bg {
    background-color: rgba(0, 0, 0, 0.8);
    height: 150px;
    margin-top: -30px;
    filter: blur(8px);
}

.unit_image {
    float: left;
    max-height: 80px;
    max-width: 80px;
    object-fit: none;
    background-image: url(../Icons/UI/unit_icon_bg.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.unit_image_holder {
    position: relative;
    width: 350px;
    float: left;
    background-color: rgba(0, 0, 0, 1);
    border: 3px solid white;
    border-color: rgba(255, 255, 200, 0.8);
    margin: 5px;
    overflow: hidden;
}

.unit_levelup {
    position: relative;
    width: 220px;
    float: left;

    box-shadow: inset 0 0 10px #000000;
    border: 3px solid white;
    border-color: rgba(255, 255, 200, 0.8);
    margin: 5px;
    margin-bottom: -10px;
}

.unit_card {
    background-color: #19313d;
    color: white;
    width: 940px;

    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-top: 40px;
    border: 3px solid white;
    border-color: rgba(255, 255, 200, 1);
    display: table;

}

.unit_elite_skill {
    overflow: hidden;
    width: 308px;
    height: 40px;
    margin: 1px;
    background-color: rgba(100, 100, 20, 0.5);
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    box-shadow: inset 0 0 15px rgba(20, 20, 30, 1);

}

.unit_passiveslot {

    position: relative;
    height: 40px;
    margin: 1px;
    background-color: rgba(30, 30, 50, 0.5);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: block;
    box-shadow: inset 0 0 15px rgba(20, 20, 30, 1);


}

.unit_abilityslot {

    width: 308px;
    height: 40px;
    margin: 1px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 0 0 15px rgba(20, 20, 30, 1);
}

.unit_typeslot {

    width: 308px;
    height: 40px;
    margin: 1px;
    background-color: rgba(60, 0, 20, 0.5);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    box-shadow: inset 0 0 15px rgba(20, 20, 30, 1);
}

/* Change the color of links on hover */
.unit_abilityslot:hover {
    background-color: darkslategray;

}

/* Change the color of links on hover */
.unit_typeslot:hover {
    background-color: darkmagenta;

}

/* Change the color of links on hover */
.unit_passiveslot:hover {
    background-color: darkblue;

}

/* Change the color of links on hover */
.unit_elite_skill:hover {
    background-color: darkslateblue;

}

.unit_ability_holder {

    float: left;
    width: 310px;
    box-shadow: inset 0 0 10px #000000;
    border: 3px solid white;
    border-color: rgba(255, 255, 200, 1);
    background-color: rgba(20, 20, 30, 1);
    margin: 5px;

}

.unit_stats {
    height: 30px;
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
    box-shadow: 0 0 10px #000000;
    border-bottom: 4px solid white;
    box-shadow: inset 0 0 30px #000000;
    border-color: rgba(255, 255, 200, 0.8);
    background-color: rgba(30, 30, 40, 1);


}

.unit_types {
    height: 40px;
    position: relative;
    top: -20px;
    padding-top: 5px;
    clear: left;
    width: 300px;
    border: 5px solid black;
    background-color: rgba(10, 10, 40, 0.4);

}

.unit_ability_icon {
    float: left;
    max-height: 38px;
    max-width: 38px;
    border-radius: 50px;
    border: 2px solid black;
}

.unit_stat_icon {
    position: relative;
    align-content: left;
    padding-right: 10px;
    float: left;
    height;
    left: 10%
}

.unit_stat_icon .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;

    border-radius: 10px 0px 10px 0px;
    border: 1px solid darkgrey;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: absolute;
    z-index: 1;
    min-width: 100px;
    max-width: 400px;
    min-height: 20px;
    margin-left: 50px;

    transition: opacity 0.5s;

}

/* Show the tooltip text when you mouse over the tooltip container */
.unit_stat_icon:hover .tooltiptext {
    visibility: visible;
}




.unit_prod {
    color: bisque;
    font-size: 18px;
    position: relative;
    top: -15px;
    padding: 10px;
    text-align: left;
}

.ability_damage {
    float: right;
    font-size: 16px;
    align-content: right;

    margin-top: 10px;
    display: inline-block;

    min-width: 70px;
}


.unit_name {
    font-size: 20px;
    position: relative;
    top: -15px;
    text-align: center;
    border-radius: 0 0 25px 25px;
    height: 30px;
    box-shadow: inset 0 0 30px #000000;
    text-shadow: 1px 1px 10px black;
    border: 3px solid white;
    border-color: rgba(255, 255, 200, 1);
    background-color: rgba(30, 30, 40, 1);
}

.tooltip {
    color: white;
    display: inline-block;
    padding: 10px;
}

.tooltiptext {
    display: inline-block;
}

.tooltiptext2 {
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;

    border-radius: 10px 0px 10px 0px;
    border: 1px solid grey;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    width: 100%;

    min-height: 50px;
    margin-left: 100px;

    transition: opacity 0.5s;

}

/* Tooltip text */
.tooltip .tooltiptext2 {
    visibility: hidden;
    background-color: black;
    color: #fff;

    border-radius: 10px 0px 10px 0px;
    border: 1px solid grey;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    min-width: 200px;

    min-height: 50px;
    margin-left: 100px;

    transition: opacity 0.5s;

}

.unittype_icon {
    position: relative;
    float: left;

}

/* Tooltip text */
.unittype_icon .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;

    border-radius: 10px 0px 10px 0px;
    border: 1px solid darkgrey;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    max-width: 600px;
    min-height: 40px;
    margin-left: 40px;

    transition: opacity 0.5s;

}


/* Show the tooltip text when you mouse over the tooltip container */
.unittype_icon:hover .tooltiptext {
    visibility: visible;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover .tooltiptext2 {
    visibility: visible;
}

x-blight {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/blight.png);
    position: relative;
}

x-blight_res {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/blight_res.png);
    position: relative;
}

x-fire {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/fire.png);
    position: relative;
}

x-fire_res {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/fire_res.png);
    position: relative;
}

x-frost_res {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/frost_res.png);
    position: relative;

}

x-spirit {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/spirit.png);
    position: relative;
}

x-shock {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/shock.png);
    position: relative;
}

x-physical {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/physical.png);
    position: relative;
}

x-turn {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/turn.png);
    position: relative;
}

x-resistance {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/resistance.png);
    position: relative;
}

x-defense {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/defense.png);
    position: relative;
}

x-gold {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/gold.png);
    position: relative;
}

x-mana {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/mana.png);
    position: relative;
}

x-happiness {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/happiness.png);
    position: relative;
}

x-hp {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/hp.png);
    position: relative;
}

x-mp {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/mp.png);
    position: relative;
}

x-production {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/production.png);
    position: relative;
}


x-frost {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/frost.png);
    position: relative;
}

x-medal_trooper {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/medal_trooper.png);
    position: relative;
}

x-medal_veteran {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/medal_veteran.png);
    position: relative;
}

x-medal_expert {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/medal_expert.png);
    position: relative;
}

x-medal_elite {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/medal_elite.png);
    position: relative;

}

x-medal_none {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/medal_none.png);
    position: relative;


}

x-medal_champion {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/medal_champion.png);
    position: relative;
}

x-xp {
    max-height: 20px;
    top: 5px;
    content: url(../Icons/Text/xp.png);
    position: relative;


}
