<!DOCTYPE HTML>
<html lang="en">

<head>

    <link rel="stylesheet" type="text/css" href="/Testing/Data/style.css">
    <meta charset="UTF-8">
    <script type="text/javascript" language="javascript" src="/Testing/Data/UnitAbilities.json"></script>
    <script type="text/javascript" language="javascript" src="/Testing/Data/Units.json"></script>
    <script type="text/javascript" language="javascript" src="/Testing/Data/Builder.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function loadheader() {
            $("#header").load("/Testing/Pages/header.html");
            $("#draconianhatchling").load("/Testing/Pages/Units/Draconians/DraconianHatchling.html");
            $("#draconiancrusher").load("/Testing/Pages/Units/Draconians/DraconianCrusher.html");
            $("#draconianflamer").load("/Testing/Pages/Units/Draconians/DraconianFlamer.html");
            $("#draconiancharger").load("/Testing/Pages/Units/Draconians/DraconianCharger.html");
            $("#draconianelder").load("/Testing/Pages/Units/Draconians/DraconianElder.html");
            $("#draconianraptor").load("/Testing/Pages/Units/Draconians/DraconianRaptor.html");
            $("#draconianflyer").load("/Testing/Pages/Units/Draconians/DraconianFlyer.html");
        });
    </script>

    <title>AOW3 Database - Draconian Units</title>
</head>

<body>
    <div id="header"></div>

    <div class="unit_card">
        <p style="background-color:black; font-size: 26px" class="unit_name">Draconians</p>
        <img class="unit_image" src="/Testing/Icons/Passives/draconian.png" style="position: relative; padding: 4px" width="100">
        <img class="unit_image" src="/Testing/PreviewGifs/StrategicMap/draconian.png" style="border-color:beige; border: 2px solid; float:right;position: relative; padding: 4px" width="150">

        <p>When the Human race rose to power, the race of dragons, especially the young dragons, suffered a terrible price. Among the Humans, dragons were more valuable dead than alive, hunted for glory, sport, money, and to mix in their foul-smelling potions. With no regard to the intelligent creatures that dragons might become in time, the humans devastated the dragon kin. The Dragons turned to the Wizards of Evermore, using powerful magic to create a new breed of followers. They sacrificed their remaining young for the power to keep the humans at bay. The dragons unleashed the power in their eggs, vowing that once they achieved supremacy they would reform themselves into ancient dragonkind again.<br><br>

            Draconians recover from their wounds more quickly than other races, and are resistant to fire while being more vulnerable to the cold. Most Draconian spell casters have the ability to hurl fire at their enemies.</p>
        <hr>

    </div>

    <br><br>
    <div id="draconianhatchling"></div>
    <br><br>
    <div id="draconiancrusher"></div>
    <br><br>
    <div id="draconianflamer"></div>
    <br><br>
    <div id="draconiancharger"></div>
    <br><br>
    <div id="draconianelder"></div>
    <br><br>
    <div id="draconianraptor"></div>
    <br><br>
    <div id="draconianflyer"></div>
</body></html>
