<!DOCTYPE html>
<html>
 <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
     <script type="text/javascript" language="javascript" src="UnitAbilities.json"></script> 
 </head>
<body style="text-align:center;">

<h2>Tooltip</h2>
<p>Move the mouse over the text below:</p>

<div class="researchSkillSlot"><div class="researchSkillSlotIcon"><img class="img-circle" onmouseover="showResearch(1);" onmouseout="hideResearch()" border-radius= "40px 40px 40px 40px" src="huh.png" alt="Smiley" width="60" height="60"></div>Perimeter Security <div class="block"></div>
    <img onmouseover="showResearch(1);" onmouseout="hideResearch()" border="0" src="huh.png" alt="Smiley" width="32" height="32">
  <span class="tooltiptext"><img class = "tooltipicon" src="huh.png" alt="name" width="32" height="32"> <p class="tooltipname">2</p><br> </span>
</div>
    <br>
   
    
    
<div id='1' skill-name='skill name' skill-icon='halloweenKat2.png' skill-cost="20"></div>
<div id='2' skill-name='skill name2' skill-icon='avatar.jpg' skill-cost="20"></div>
<div id='3' skill-name='skill 3' skill-icon='PumpkinFriend.png' skill-cost="20"></div>
 

    
<script>
    
        var data = [ 
 {"Id": 10004, "PageName": "club"}, 
 {"Id": 10040, "PageName": "qaz"}, 
 {"Id": 10059, "PageName": "jjjjjjj"}
];
    
    
   $(document).ready(function(e) {    
       $.each(data, function(i, item) {
    var text2 = $("<p></p>").text(item.PageName);
             $('.block:last').before(text2);
});
        //var txt2 = $("<p></p>").text("Text."); 
    $('.block:last').before('<div class="block"><input type="text" /><span class="remove">Remove Option</span></div>', txt2);
});
//$('.optionBox').on('click','.remove',function() {
// 	$(this).parent().remove();
//});
    
function showResearch(a){
    var skill = document.getElementById(a);
    
    $(".tooltipicon").attr("src", skill.getAttribute('skill-icon'));
    $(".tooltipname").text(skill.getAttribute('skill-name'));
    
   // document.getElementsByClassName("tooltipname").text = skill.getAttribute('skill-name');
    
    
}        
function hideResearch(a){
    
    $(".tooltipicon").attr("src", "");
    $(".tooltipname").text("");    
}
    
</script>


</body>
</html>
